<div id="<%= dom_id client %>">
  <p>
    <strong>Cnpj:</strong>
    <%= client.cnpj %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= client.company_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= client.state %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Address number:</strong>
    <%= client.address_number %>
  </p>

</div>
