<div id="<%= dom_id plan %>">
  <p>
    <strong>Plan name:</strong>
    <%= plan.plan_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= plan.status %>
  </p>

  <p>
    <strong>Plan duration:</strong>
    <%= plan.plan_duration %>
  </p>

  <p>
    <strong>Plan price:</strong>
    <%= plan.plan_price %>
  </p>

</div>
